.content {
  width: auto;
  height: calc(100vh - 150px);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .service-card {
    width: 305px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 5px;
    opacity: 0.95;

    .info-header {
      font: 500 18px Roboto;
      color: #990000;
    }

    .info {
      color: #3399ff;

      .label {
        font-weight: 500;
        color: #000080;
      }
    }
  }
}

.filter {
  margin-top: 70px;
}
