.carContainer {
  width: 80%;
  height: 45%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .car-card {
    width: 150px;
    height: 100px;
    background-color: #AFAFAF;
    margin: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    span {
      display: block;
      width: fit-content;
      margin: auto;
      margin-top: 27%;

    }
  }
}

.cars-header {
    width: fit-content;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 25px;
    font: 500 35px Roboto;
    color: whitesmoke;
  }
